:root {
  --footer-bg: #54d3e5;
  --footer-text: #ffffff;
  --footer-line: rgba(255, 255, 255, 0.6);

  --light-bg: #ffffff;

  --ba-blue: #3fa9f5;
  --ba-blue-light: #eaf4ff;
  --ba-blue-hover: #2f8fe0;
  --ba-text-main: #1f2d3d;
  --ba-text-sub: #6b7a90;
}
