.article-toc {
  position: sticky;
  top: 6rem;
  align-self: start;
  background-color: var(--article-bg);

  display: block;

  .toc-title {
    font-weight: 600;
    margin-bottom: 0.75rem;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
}
