.web-navbar {
  background-color: var(--header-bg, #fff);
  color: var(--header-text, #111);
  border-bottom: 1px solid #eee;
}

.web-navbar-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 4rem;
  padding-left: 2rem;
  padding-right: 2rem;

  @media (min-width: 769px) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.web-navbar-left {
  display: flex;
  align-items: center;
}
/* 右侧导航 */
.web-navbar-right {
  display: flex;
  align-items: center;
  gap: 1.5rem;

  .nav-item {
    color: inherit;
    font-weight: 500;
    text-transform: none;
  }
}

.desktop-only {
  display: flex;
}

.mobile-only {
  display: none;
}

@media (max-width: 768px) {
  .desktop-only {
    display: none;
  }

  .mobile-only {
    display: block;
  }
}
