.article-detail-page {
  min-height: 100vh;

  .TwoColumnLayout {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 1.5rem;
  }

  .article-content {
    line-height: 1.8;
  }

  .article-toc {
    position: sticky;
    top: 5rem;
    max-height: calc(100vh - 5rem);
    overflow-y: auto;

    padding: 1rem;
    border-radius: 0.75rem;
    border: 0.0625rem solid #eee;

    .toc-title {
      font-weight: 700;
      margin-bottom: 0.5rem;
    }

    li {
      cursor: pointer;
      margin: 0.4rem 0;
      list-style: none;

      &.level-3 {
        padding-left: 0.75rem;
        font-size: 0.9em;
      }

      &.active {
        color: #ff6699;
        font-weight: 700;
      }
    }
  }
}
